{% extends 'products/base.html' %}
{% load static %}

{% block content %}

<div class="goods">
        <h2 class="goods-category">{{ title }} </h2>
        {% if basketlist %}
        {% for b in basketlist %}
        <div class="goods-item">
            {% if b.product.image %}
            <img src="{{ b.product.image.url }}" alt="" class="goods-item__img">
            {% endif %}
            <div class="goods-item__txt">
                <span class="goods-item__name">{{ b.product.name }}</span>
                <p class="goods-item__desc">Количество: {{b.qty}} </p>


                <button id="buttonremove">Click me</button>
                {% csrf_token %}
                <a href="{% url 'baskets:basket_increase' b.id %}" class="goods-item__btn">Добавить в корзину</a>
                <a href="#" class="goods-item__btn">Подробнее</a>
            </div>
            {% endfor %}
        {% else %}
            <p class="goods-item__desc">Ваша корзина пуста! </p>
        {% endif %}
        </div>
</div>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="{% static 'js/basket.js' %}"></script>
{% endblock %}