{% extends 'products/base.html' %}
{% load static %}

{% block content %}

<ul class="list-inline">
  <li class="list-inline-item">Общая сумма {{ basketlist.0.total_sum }}</li>
  <li class="list-inline-item">Общее количество покупок {{ basketlist.0.total_qty }}.</li>
</ul>

{% include 'baskets/basket-list.html' %}


{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="{% static 'js/basket.js' %}"></script>
{% endblock %}