{% load static %}

<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
<div class="wrapper">
    <header>
        <ul class="navigation-menu">
            <li><a href="{% url 'products:index' %}" class="goods-item__btn">Главная</a></li>
        </ul>

        <ul class="navigation-menu">

            <li><a href="{% url 'admins:users_read' %}" class="goods-item__btn">Администрирование</a></li>

        </ul>
    </header>
    <main>
        <aside>
            <a href="#" class="goods-item__btn">Создать пользователя</a>
        </aside>

        {% block content %} {% endblock %}
    </main>
    {% block js %} {% endblock %}
    <footer>
        Тут футер
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>

</body>
</html>