{% extends 'admins/base.html' %}
{% load static %}

{% block content %}
<div class="card-list">
{% for u in object_list %}
<div class="goods-item">
    <div class="goods-item__txt">
        <span class="goods-item__name">{{ u.username }}</span>
        <p class="goods-item__desc">{{u.first_name}} </p>
        <span class="goods-item__name">{{ u.last_name }}</span>
        <p class="goods-item__desc">{{u.email}} </p>
        <a href="{% url 'admins:users_delete' %}" class="goods-item__btn">Удалить пользователя</a>
    </div>
</div>
{% endfor %}
</div>


<div class="card-list">
<a href="{% url 'admins:users_create' %}" class="goods-item__btn">Создать пользователя</a>
</div>


{% endblock %}

