{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
<div class="wrapper">
    <header>
        <ul class="navigation-menu">
            <li><a href="#" class="goods-item__btn">Меню</a></li>
            <li><a href="#" class="goods-item__btn">Меню</a></li>
        </ul>

        <ul class="navigation-menu">
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'users:logout' %}" class="goods-item__btn">Выйти</a></li>
            {% else %}
            <li><a href="{% url 'users:login' %}" class="goods-item__btn">Логин</a></li>
            <li><a href="{% url 'users:register' %}" class="goods-item__btn">Регистрация</a></li>
            {% endif %}
        </ul>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        Тут футер
    </footer>
</div>
</body>
</html>