{% load static %}

<!DOCTYPE html>





<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
<div class="wrapper">
    <header>
        <ul class="navigation-menu">
            <li><a href="{% url 'products:index' %}" class="goods-item__btn">Главная</a></li>
        </ul>

        <ul class="navigation-menu">
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'baskets:baskets' %}" class="goods-item__btn">Корзина</a></li>
            <li><a href="{% url 'users:logout' %}" class="goods-item__btn">Выйти</a></li>
            <li><a href="{% url 'adminstaff:index' %}" class="goods-item__btn">Админ-панель</a></li>
            {% else %}
            <li><a href="{% url 'users:login' %}" class="goods-item__btn">Логин</a></li>
            <li><a href="{% url 'users:register' %}" class="goods-item__btn">Регистрация</a></li>
            {% endif %}
        </ul>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    {% block js %} {% endblock %}
    <footer>
        Тут футер
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</body>
</html>