{% extends 'products/base.html' %}
{% load static %}

{% block content %}
<main>
    <aside>
        {% for c in categorylist %}
        <span>
        <a href="category/{{c.slug}}" class="goods-item__btn">{{c.name}}</a>
        </span>
        {% endfor %}
    </aside>

    <div class="goods">
        <h2 class="goods-category">Категория товаров</h2>
        {% for p in productlist %}
        <div class="goods-item">
            {% if p.image %}
            <img src="{{ p.image.url }}" alt="" class="goods-item__img">
            {% endif %}
            <div class="goods-item__txt">
                <span class="goods-item__name">{{ p.name }}</span>
                <p class="goods-item__desc">{{p.description}} </p>
                <a href="product/{{p.slug}}" class="goods-item__btn">Подробнее</a>
            </div>
        </div>
        {% endfor %}
    </div>

</main>

{% endblock %}