{% extends 'products/base.html' %}
{% load static %}

{% block content %}

<div class="goods-detail">
            <h2 class="goods-category">{{ title }}</h2>
            <div class="goods-item">
                {% if product.image %}
                 <img src="{{ product.image.url }}" alt="" class="goods-item__img">
                {% endif %}
                <div class="goods-item__txt">
                <span class="goods-item__name">{{ product.name }}</span>
                <p class="goods-item__desc">{{product.description}} </p>
                <a href="" class="goods-item__btn">Подробнее</a>
            </div>
            </div>
        </div>

{% endblock %}